<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BMI History</title>
</head>
<body>

<h2>BMI History</h2>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Height (m)</th>
        <th>Weight (kg)</th>
        <th>BMI</th>
        <th>Category</th>
    </tr>

    <tr th:each="r : ${records}">
        <td th:text="${r.date}"></td>
        <td th:text="${r.height}"></td>
        <td th:text="${r.weight}"></td>
        <td th:text="${r.bmiValue}"></td>
        <td th:text="${r.category}"></td>
    </tr>
</table>

<br>

<a th:href="@{/member/dashboard}">Back to Dashboard</a>

</body>
</html>
