<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Dashboard</title>
</head>
<body>

<h2>Member Dashboard</h2>

<ul>
    <!-- BMI -->
    <li>
        <a th:href="@{/member/bmi/form}">Enter BMI</a>
    </li>

    <li>
        <a th:href="@{/member/bmi/history}">View BMI History</a>
    </li>

    <!-- Programs -->
    <li>
        <a th:href="@{/member/programs}">Browse Programs</a>
    </li>

    <li>
        <a th:href="@{/member/my-programs}">My Programs</a>
    </li>


   <li>
<a th:href="@{/member/workouts}">
    My Workout Plans
</a>
</li> 

    <!-- Logout -->
    <li>
        <a th:href="@{/logout}">Logout</a>
    </li>
</ul>

</body>
</html>
