<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trainer Dashboard</title>
</head>
<body>

<h2>Trainer Dashboard</h2>

<ul>
    <li>
        <a th:href="@{/trainer/sessions/create}">
            Schedule Training Session
        </a>
    </li>

    <li>
        <a th:href="@{/trainer/sessions/list}">
            View Scheduled Sessions
        </a>
    </li>

    <li>
        <a th:href="@{/trainer/workout-plan/create}">
            Create Workout Plan
        </a>
    </li>

    <li>
        <a th:href="@{/trainer/monitor-workouts}">
            Monitor Member Workouts
        </a>
    </li>
</ul>

<a th:href="@{/logout}">Logout</a>

</body>
</html>
